<section role="region" aria-labelledby="form-elements" class="page__section">
  <header role="banner" class="section__header section__header--alt">
    <div class="header__container">
      <h4 class="header__title--section" id="form-elements">Form Elements</h4>
    </div>
  </header>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">States: Base, Hover, Active</h5>
    </header>
    <% data.components.form_elements.each do |f| %>
      <label class="label"><%= f.label %></label>
      <input
        type="<%= f.type %>"
        name="<%= f.type %>"
        placeholder="<%= f.placeholder %>"
        <% if f.disabled === true %>
          disabled="<%= f.disabled %>"
        <% end %>
        class="input--<%= f.type %>" />
    <% end %>
    <label class="label">Select Input</label>
    <select class="select">
      <option>Select Option 1</option>
      <option>Select Option 2</option>
      <option>Select Option 3</option>
      <option>Select Option 4</option>
      <option>Select Option 5</option>
    </select>
    <label class="label">Disabled Select Input</label>
    <select class="select" disabled>
      <option>Select Option 1</option>
      <option>Select Option 2</option>
      <option>Select Option 3</option>
      <option>Select Option 4</option>
      <option>Select Option 5</option>
    </select>
    <ul>
      <li>
        <label class="label">
          <input type="radio" name="name" />
          Standard Radio Input
        </label>
      </li>
      <li>
        <label class="label">
          <input type="radio" name="name" />
          Standard Radio Input
        </label>
      </li>
      <li>
        <label class="label">
          <input type="radio" name="name" />
          Standard Radio Input
        </label>
      </li>
    </ul>

  </div>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Sample Code</h5>
    </header>
<% code("html") do %>
  <!-- Standard Text Input -->
  <label class="label">Standard Input</label>
  <input type="text" name="text" placeholder="Placeholder text goes here" class="input--text">

  <!-- Search Input -->
  <label class="label">Search Input</label>
  <input type="text" name="text" placeholder="Placeholder text goes here" class="input--text">

  <!-- Disabled Input -->
  <label class="label">Disabled Input</label>
  <input type="text" name="text" placeholder="Can't type here" disabled="true" class="input--text">

  <!-- Standard Select -->
  <label class="label">Select Input</label>
  <select>
    <option>Select Option 1</option>
    <option>Select Option 2</option>
    <option>Select Option 3</option>
    <option>Select Option 4</option>
    <option>Select Option 5</option>
  </select>

  <!-- Disabled Select -->
  <label class="label">Disabled Select Input</label>
  <select class="select" disabled>
    <option>Select Option 1</option>
    <option>Select Option 2</option>
    <option>Select Option 3</option>
    <option>Select Option 4</option>
    <option>Select Option 5</option>
  </select>

  <!-- Standard Radio Input -->
  <label class="label label--radio-input">
    <input type="radio" name="name" />
    Standard Radio Input
  </label>
<% end %>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Component Usage</h5>
      <p>There are a few different input types. The first is a standard input. This should be used for most form inputs. The type role might change, but the overall design stays the same. The second type is a search input. This type should be used when a user is preforming a search on a view or the application. Lastly, a select. This element should be used when a user needs to select one object from many.</p>
    </header>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">HTML Guidelines</h5>
      <p>This table gives you a quick overview of the CSS classes that can be applied to create the standard form elements.</p>
    </header>
    <table class="table table-alpha">
      <thead>
        <th>Class Name</th>
        <th>Usage</th>
      </thead>
      <tbody>
        <tr>
          <td style="width:30%">.label</td>
          <td>All standard form inputs should have a label to explain what data is expected. <% code("html") do %><label class="label">Label Text Here</label><% end %></td>
        </tr>
        <tr>
          <td style="width:30%">input[type="text"]</td>
          <td>This is the standard input type. <% code("html") do %><input type="text" name="name" value="" placeholder="Add text here" /><% end %></td>
        </tr>
        <tr>
          <td style="width:30%">input[type="search"]</td>
          <td>Set the input type to search for search inputs. <% code("html") do %><input type="search" placeholder="Search for an item" /><% end %></td>
        </tr>
        <tr>
          <td style="width:30%">select</td>
          <td>This is the standard select input type. <% code("html") do %><select ><!-- select options --> </select><% end %></td>
        </tr>
        <tr>
          <td style="width:30%">input[type="radio"]</td>
          <td>This is the standard radio input type. <% code("html") do %><input type="radio" name="name" /><% end %></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>