---
title: Mobile Design Components | Mecum Auto Auctions
---
<header role="banner" aria-labelledby="styleguide-componets" class="section__header section__header--shadow">
  <div class="header__container">
    <h1 class="header__title" id="styleguide-components">Design Components</h1>
  </div>
</header>
<%= partial 'components/_buttons.erb' %>
<%= partial 'components/_form-elements.erb' %>
<%= partial 'components/_tables.erb' %>
<%= partial 'components/_tabs.erb' %>
<%= partial 'components/_pagination.erb' %>
<%= partial 'layouts/shared/footer.erb' %>