<section role="region" aria-labelledby="typography" class="page__section">
  <header role="banner" class="section__header section__header--alt">
    <div class="header__container">
      <h4 class="header__title--section" id="typography">Typography</h4>
    </div>
  </header>
  <div class="section__body clearfix">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Standard Font Family: Robot Sans Serif</h5>
    </header>
    <% data.elements.font_family.each do |f| %>
      <h3 class="float--left margin-right--echo text--light text--uppercase"><%= f.letter %></h3>
    <% end %>
    <div class="clear">
      <% data.elements.font_family.each do |f| %>
        <h3 class="float--left margin-right--echo text--light"><%= f.letter %></h3>
      <% end %>
    </div>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Standard Headers</h5>
    </header>
    <% data.elements.typography.each do |t| %>
      <<%= t.type %> class="heading--<%= t.type %>">The quick brown fox jumps over the lazy dog.</<%= t.type %>>
    <% end %>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Standard Body Copy</h5>
    </header>
    <p>The quick brown fox jumps over the lazy dog.</p>
  </div>
</section>