---
title: Mobile Design System | The Car Connection
---
<header role="banner" class="section__header homepage__header">
  <div class="header__container">
    <h6 class="text--grey"><%= data.homepage.introduction.version %> | Updated: <%= data.homepage.introduction.version_updated %></h6>
    <h1 class="header__title" id="styleguide-introdruction"><%= data.homepage.introduction.title %></h1>
    <p class="margin-bottom--charlie"><%= data.homepage.introduction.description %></p>
    <a href="<%= data.homepage.introduction.link %>" target="_blank" role="button" class="button--primary"><%= data.homepage.introduction.link_title %></a>
  </div>
</header>
<section role="region" aria-labelledby="getting-started" class="page__section">
  <header role="banner" class="section__header section__header--alt">
    <div class="header__container">
      <h4 class="header__title--section" id="getting-started"><%= data.homepage.content.intro.title %></h4>
    </div>
  </header>
  <div class="section__body">
    <ul>
    <% data.homepage.content.intro.intro_sections.each do |section| %>
      <li class="homepage__card">
        <div class="homepage__card--inner">
          <div class="homepage__card__image">
            <%= image_tag section.img, class: 'homepage__card__icon' %>
          </div>
          <!-- <img src="<%= section.img %>" class="homepage__card__image" /> -->
          <h5 class="homepage__card__title"><%= section.title %></h5>
          <p class="homepage__card__description text--grey"><%= section.description %></p>
          <a href="<%= section.link %>" class="link--primary"><%= section.link_text %></a>
        </div>
      </li>
    <% end %>
    </ul>
  </div>
</section>
<%= partial 'layouts/shared/footer.erb' %>